<ion-header>
  <ion-toolbar>
    <ion-title>crudUser</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h2 style="text-align:center">{{title}}</h2>
  <ion-item>
    <ion-input placeholder="Email" type="text" [(ngModel)]="email" name="email" required></ion-input>></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Mot de passe " type="text" [(ngModel)]="mdp" name="pwd" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="poste" type="text" [(ngModel)]="poste" name="poste" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="fonctionnalité" type="text" [(ngModel)]="fonctionnalite" name="type" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="relié a" type="text" [(ngModel)]="relie"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="ajouter()">Ajouter</ion-button>
</ion-content>