<ion-content>
 <ion-item>
      <ion-input placeholder="Email"
       type="text"
      
       [(ngModel)]="Email"></ion-input>
  </ion-item>

 <ion-item>
  <ion-input placeholder="Mot de passe "
       type="text"
      
       [(ngModel)]="mdp"></ion-input>
  </ion-item>
 <ion-item>
    <ion-input placeholder="poste"
       type="text"
      
       [(ngModel)]="poste"></ion-input>
  </ion-item>

    <ion-item>
 <ion-input placeholder="fonctionnalité"
       type="text"
      
       [(ngModel)]="fonctionnalite"></ion-input>
  </ion-item>

  <ion-item>
 <ion-input placeholder="relié a"
       type="text"
      
       [(ngModel)]="relie"></ion-input>
  </ion-item>

    





     
         <ion-button  expand="full" color="primary"  (click)="addItem(item)">Add</ion-button>
          
           

           
           
     

 


</ion-content>
