<ion-header>
  <ion-toolbar>
    <ion-title>crudMateriel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 style="text-align:center">{{title}}</h2>
  <ion-item>
    <ion-input placeholder="Type" type="text" [(ngModel)]="type" name="type" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nom" type="text" [(ngModel)]="nom" name="nom" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Réference" type="text" [(ngModel)]="reference" name="reference" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Date de maintenance" type="date" [(ngModel)]="dateMaintenance" name="dateMaintenance"
      required></ion-input>
  </ion-item>
  <ion-button expand="full" color="primary" (click)="ajouter()">Ajouter</ion-button>
</ion-content>