<ion-header>
  <ion-toolbar>
    <ion-title>crudMateriel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select value="Type" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Monastir">Monastir</ion-select-option>
      <ion-select-option value="sousse">sousse</ion-select-option>
      <ion-select-option value="tunis">tunis</ion-select-option>
      <ion-select-option value="nabel">nabel</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nom" type="text" [(ngModel)]="nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Réference" type="text" [(ngModel)]="Reference"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Date de maintenance" type="date" [(ngModel)]="ddm"></ion-input>
  </ion-item>
  <ion-button expand="full" color="primary" (click)="ajouter()">Ajouter</ion-button>
</ion-content>