<ion-header>
  <ion-toolbar>
    <ion-title>crudUniteMedical</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-input placeholder="Type" type="text" [(ngModel)]="Type"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nom" type="text" [(ngModel)]="Nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gouvernorat</ion-label>
    <ion-select okText="Confirmer" cancelText="Cancel" (ionChange)="onChange($event)">
      <ion-select-option *ngFor="let i of gouvs">{{i}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Ville</ion-label>
    <ion-select  okText="Confirmer" cancelText="Cancel">
      <ion-select-option *ngFor="let j of villes">{{j}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Code Postale" type="text" [(ngModel)]="Postale"></ion-input>
  </ion-item>
  <ion-button expand="full" color="primary" (click)="ajouter()">Ajouter</ion-button>

</ion-content>