<!--<ion-content padding class="masters">
  <form class="form-content" (ngSubmit)="onGoToHomePage()">
    <div class="input-cl2">
      <ion-input class="ion-input" [(ngModel)]="mail" name="mail" type="E-Mail" required="true" placeholder="E-Mail">
      </ion-input>
    </div>
    <div class="input-cl2">
      <ion-input class="ion-input" [(ngModel)]="paswd" name="paswd" type="password" required="true" maxlength="30"
        placeholder="Mot de passe"></ion-input>
    </div>
    <div class="btn-cl1">
      <ion-button class="ion-button" shape="round" type="submit" color="primary">Connecter</ion-button>
    </div>
  </form>
</ion-content>
-->
<div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/img/logo/logo-mailchimp.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset class="no-border">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="login()">Login</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="goToSignup()">
          <span>Or create a new account.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
