.masters {
    background-color: green;
  }
.form-content{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.btn-cl1{
    margin: 10px
}
.input-cl2{
    border: 2px;
    border-style: solid;
    border-color: #9c9797;
    border-radius: 7px;
    margin: 10px
}