ion-content{
    --background: url("../../theme/background.jpg") center / 100% 100% no-repeat;
}
.form-content{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.btn-cl1{
    margin: 10px
}
.input-cl2{
    border: 2px;
    border-style: solid;
    border-color: #9c9797;
    border-radius: 7px;
    margin: 10px
}