<ion-content>
  <form class="form-content" (ngSubmit)="onGoToHomePage()">
    <div class="input-cl2">
      <ion-input class="ion-input" [(ngModel)]="mail" name="mail" type="E-Mail" required="true" placeholder="E-Mail">
      </ion-input>
    </div>
    <div class="input-cl2">
      <ion-input class="ion-input" [(ngModel)]="paswd" name="paswd" type="password" required="true" maxlength="30"
        placeholder="Mot de passe"></ion-input>
    </div>
    <div class="btn-cl1">
      <ion-button class="ion-button" shape="round" type="submit" color="primary">Connecter</ion-button>
    </div>
  </form>
</ion-content>